@model MVCwAPI.Models.ViewModels.ToDoViewModel

<h2>Create ToDo Item</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" />
    </div>
    <div class="form-group">
        <label for="IsComplete">Is Complete?</label>
        <input type="checkbox" name="IsComplete" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
