@model IEnumerable<MVCwAPI.Models.ViewModels.ToDoViewModel>

@foreach (var item in Model)
{
    <div>
        <h2>@item.Title</h2>
        <p>@item.Description</p>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete this item?');" })
    </div>
}