@model List<MVCwAPI.Models.ViewModels.ToDoViewModel>

<h2>ToDo List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Complete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.IsComplete</td>
                <td>
                    <a href="/ToDo/Edit/@item.Id" class="btn btn-primary">Edit</a>
                    <a href="/ToDo/Delete/@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/ToDo/Create" class="btn btn-success">Add New ToDo Item</a>
