@model List<MyMvcApp.Models.ToDoItemViewModel>

<h2>ToDo List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Complete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.IsComplete</td>
                <td>
                    <a href="/ToDo/Edit/@item.Id" class="btn btn-primary">Edit</a>
           @*Delete form placed ... just *@
            <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                    </form>                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/ToDo/Create" class="btn btn-success">Add New ToDo Item</a>
